
.DS_Store
.AppleDouble
.LSOverride
**/._*
.Spotlight-V100
.Trashes

.Rhistory
.RData
.Rproj.user/
.Ruserdata/
.Rapp.history
*-EX.R

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.ipynb_checkpoints/
.pytest_cache/

.vscode/
.idea/
.cursorignore